[submodule "lib/vulkan"]
	path = lib/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/vk-bootstrap"]
	path = lib/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "lib/vma"]
	path = lib/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/tiny_obj_loader"]
	path = lib/tiny_obj_loader
	url = https://github.com/tinyobjloader/tinyobjloader.git
